.create-service-card {
  position: relative;
  z-index: 3;
  width: 100%;
  margin: 0 20px;
  padding: 35px 30px;
  border-radius: 1.25rem;
  background: #fff;
  text-align: center;
}

@media (width >= 500px) {
  .create-service-card {
    margin: 0;
    width: 600px;
  }
}

.create-service-form .col, 
.create-service-form .col-12 {
  padding: 0 5px;
}

.create-service-form input[type=text],
.create-service-form > button {
  width: 100%;
  height: 46px;
}

.create-service-form input[type=text],
.create-service-form textarea
 {
  border: 2px solid #ebebeb;
  font-family: inherit;
  font-size: 16px;
  padding: 6px 16px;
  margin: 6px 0;
}

.create-service-form .form-check {
  text-align: start;
  margin: 4px 2px 15px;
}

.create-service-form > button {
  cursor: pointer;
  width: 100%;
  height: 56px;
  padding: 0 16px;
  border-radius: 0.5rem;
  border: 0;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
  transition: all 0.375s;
}