.service-card {
  position: relative;
  z-index: 3;
  width: 80%;
  margin: 0 20px;
  padding: 35px 30px 40px;
  border-radius: 1.25rem;
  background: #fff;
}

.service-card > h3{
  text-align: center;
}

.service-card > div{
  margin-bottom: 5px;
}

.service-form .col, 
.service-form .col-12 {
  padding: 0 5px;
}

.service-form input[type=text],
.service-form > button {
  width: 100%;
  height: 46px;
}

.service-form input[type=text],
.service-form textarea
 {
  border: 2px solid #ebebeb;
  font-family: inherit;
  font-size: 16px;
  padding: 6px 16px;
  margin: 6px 0;
}

.service-form .form-check {
  text-align: start;
  margin: 4px 2px 15px;
}

.service-form > button {
  cursor: pointer;
  width: 100%;
  height: 56px;
  padding: 0 16px;
  border-radius: 0.5rem;
  border: 0;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
  transition: all 0.375s;
}