* {
  box-sizing: border-box;
}

.app {
  height: 100%;
}

@keyframes rotate {
  100% {
    background-position: 15% 50%;
  }
}

.app{
  display: grid;
  place-items: center;
  margin: 0;
  padding: 0 24px;
  background-image: url("background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Euclid Circular A";
  color: #000;
  animation: rotate 6s infinite alternate linear;
}

@media (width >= 500px) {
  .app {
    padding: 0;
  }
}