* {
  box-sizing: border-box;
}


@keyframes rotate {
  100% {
    background-position: 15% 50%;
  }
}

.repeated-bkg{
  height: 100%;
  display: grid;
  place-items: center;
  margin: 0;
  padding: 0 10px;
  background-image: url("./img/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #333333;
  animation: rotate 7s infinite alternate linear;
}

.not-repeated-bkg{
  height: 100%;
  display: grid;
  place-items: center;
  margin: 0;
  padding: 50px 24px;
  background: #c9c9c9;
  color: #333333;
}

@media (width >= 500px) {
  .repeated-bkg {
    padding: 0;
  }
}